<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />  
  <title>Frequently Asked Questions</title>
</head>
<body>
<h1>FairShare Bill Sharing</h1>
    <div>
       <h2>TERMS AND CONDITIONS</h2> 

       <p>
         <h3>Registering to use this site means you have read and accepted these Terms and Conditions.</h3>  
       </p>
       <p>
        Creating an Account with us means you have entrusted us with correct information which we can use to contact you in the event of any breach of our rules
       </p>
       
       <p>
        Please keep your password safe as we will not be held resposible for any changes made to your account once it is created.
       </p>
       <p>
        Inviting a user with no registered account initiates a procedure whereby a temporary account is created for them. Therefore, Please
        be aware of this added responsibility when inviting users that are not registered to the site.
       </p>
      
    </div>

    <span>
  
        <a href="/signup"> <button class="button button2">SignUp</button></a>
          <a href="/login"><button class="button button3">Login</button></a>
    </span>
</body>
</html>